server {
  listen 443 ssl;
  ssl_certificate /etc/nginx/{{ inventory_hostname }}.crt;
  ssl_certificate_key /etc/nginx/{{ inventory_hostname }}.key;
  server_name kanboard kanboard.neuronpointer.net;

  access_log /var/log/nginx/kanboard.access.log;

  location / {
    proxy_pass https://kanboard.neuronpointer.net;
  }

  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /var/www/nginx-default;
  }
}
